{% extends 'base.html' %}
{% block content %}

<a href="{% url 'csv_upload' %}" class="btn btn-secondary">Upload CSV</a>

<div class="col-md-6 offset-md-3">
    <h1>Add Product To Inventory</h1>
    <br/>

    <form method="POST" action="{% url 'add_inventory_product' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <button type="submit" class="btn btn-secondary">Add Product </button>
        <a href="{% url 'inventory_product_list' %}" class="btn btn-secondary">Back</a>
    </form>
</div> 

{% endblock %}