{% extends 'base.html' %}
{% block content %}

<h1>Customer List</h1>

<a href="{% url 'add_customer' %}" class="btn btn-primary mb-3">Add Customer</a>

<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        
      </tr>
    </thead>
    <tbody>
        {% for customer in customer %}
      <tr>
        <td><a href="{% url 'customer_detail' customer.id %}">{{ customer.name }}</a></td> 
          <td>{{ customer.email }}</td>
          <td>{{ customer.phone }}</td>

      </tr>
        {% endfor %}
    </tbody>
</table>   

{% endblock %}