{% extends 'base.html' %}
{% block content %}


{% if user.is_authenticated %}
    {% if user.userprofile.role == 'manager' %}
        <h1>Manager Dashboard</h1>

</br>

<table class="table">
<tbody>
    <tr>
        <th scope="row">User, Supplier & Customer Management</th>
        <td><a class="btn btn-secondary" href="{% url 'register' %}">Register New Users</a> </td>
        <td><a class="btn btn-secondary" href="{% url 'supplier_list' %}">Supplier List</a><td>
        <td><a class="btn btn-secondary" href="{% url 'customer_list' %}">Customer List</a></td>
    </tr>
    <tr>
      <th scope="row">Inventory</th>
      <td><a class="btn btn-secondary" href="{% url 'inventory_product_list' %}">View Inventory</a></td>
      <td><a class="btn btn-secondary" href="{% url 'add_inventory_product'%}">Add Inventory Products</a></td>
    </tr>
    <tr>
      <th scope="row">Inbound Products</th>
      <td><a class="btn btn-primary" href="{% url 'inbound_product_list' %}">View Inbound Products</a></td>
      <td><a class="btn btn-primary" href="{% url 'add_inbound_product'%}">Add Inbound Products</a></td>
    </tr>
    <tr>
        <th scope="row">Outbound Products</th>
        <td><a class="btn btn-primary" href="{% url 'outbound_product_list' %}">View Outbound Products</a></td>
        {% comment %} <td><a class="btn btn-primary" href="{% url 'add_outbound_product'%}">Add Inbound Products</a></td> {% endcomment %}
      </tr>
  </tbody>
</table>

<div class="mt-10">
    <h3>**Charts for inventory, inbound and outbound workflow** </h3>
</div>

    {% else %}
        <h1 class="mb-5">Operator Dashboard</h1>
        
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Inbound Products</th>
                    <td><a class="btn btn-primary" href="{% url 'inbound_product_list' %}">View Inbound Products</a></td>
                    <td><a class="btn btn-primary" href="{% url 'add_inbound_product'%}">Add Inbound Products</a></td>
                </tr>
                <tr>
                    <th scope="row">Outbound Products</th>
                    <td><a class="btn btn-primary" href="{% url 'outbound_product_list' %}">View Outbound Products</a></td>
              {% comment %} <td><a class="btn btn-primary" href="{% url 'add_outbound_product'%}">Add Inbound Products</a></td> {% endcomment %}
                </tr>
            </tbody>
        </table>
    {% endif %}



{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          
          <input type="text" class="form-control" name="username", placeholder="Username">

        </div><br/>
        <div class="mb-3">

          <input type="password" class="form-control" name="password", placeholder="Password">
        </div>

        <button type="submit" class="btn btn-secondary">Login</button>
      </form>

</form>

</div>



{% endif %}

{% endblock %}