{% extends 'base.html' %}
{% block content %}

<h1>Inbound</h1>

<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Product SKU</th>
        <th scope="col">Product Name</th>
        <th scope="col">Location</th>
        <th scope="col">Quantity</th>
        <th scope="col">Supplier</th>
        <th scope="col">Remarks</th>
        <th scope="col">Tags</th>
        <th scope="col">Created At</th>
        <th scope="col">Product ID</th>
      </tr>
    </thead>
    <tbody>

      {% endblock %}