{% extends 'base.html' %}
{% block content %}

<h1 class="mb-3">Outbound Products Workflow</h1>

<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Product SKU</th>
        <th scope="col">Product Name</th>
        <th scope="col">Destination</th>
        <th scope="col">Quantit Sold</th>
        <th scope="col">Remarks</th>
        <th scope="col">Tags</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>

      {% endblock %}